/* Write your CSS here */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5a94f2;
  height: 100vh;
}

.capitals-container {
  background-color: #f8fafc;
  border-radius: 16px;
  width: 96%;
  padding: 20px;
  max-width: 345px;
}

@media screen and (min-width: 768px) {
  .capitals-container {
    padding-top: 44px;
    padding-left: 64px;
    padding-right: 64px;
    max-width: 720px;
  }
}

.heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .heading {
    text-align: left;
    font-size: 32px;
  }
}

.question-container {
  display: flex;
  align-items: center;
}

.capital-select {
  background-color: #f8fafc;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  width: 120px;
  height: 50px;
  border: 1px solid #cbd2d9;
  border-radius: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  outline: none;
  color: #e81207;
}

@media screen and (min-width: 768px) {
  .capital-select {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    width: 220px;
    font-size: 18px;
  }
}

.option {
  color: #9c0615;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .option {
    font-size: 18px;
  }
}

.question {
  color: #240901;
  font-family: 'Roboto';
  font-size: 12px;
  margin-left: 8px;
}

@media screen and (min-width: 768px) {
  .question {
    font-size: 28px;
  }
}

.country {
  color: #e81207;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .country {
    font-family: 'Roboto';
    font-size: 30px;
  }
}
.country-info {
  display: flex;
  flex-direction: row;
}

.developer {
  display: flex;
  justify-content: flex-end;
}
developer-name {
  color: #000000;
  font-size: 6px;
  font-family: 'Roboto';
}
